* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.stress {
  font-weight: bold;
}

nav {
  min-height: 100px;
  width: 77%;
  margin: 0 auto;
  background-color: transparent;
}
nav .lineWhite {
  min-height: 100px;
  width: 100%;
  border: 2px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  display: flex;
  justify-content: space-between;
}
nav .lineWhite .linksWhite {
  width: 525px;
  margin-right: 25px;
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
nav .lineWhite .linksWhite a {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: white;
}
nav .lineWhite .linksWhite p {
  font-size: 21px;
  color: white;
}
nav .lineWhite .whiteLine {
  min-height: 100px;
  width: 100%;
  border: 2px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav .lineWhite .whiteLine .linksWhite {
  width: 525px;
  margin-right: 25px;
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
nav .lineWhite .whiteLine .linksWhite a {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: white;
}
nav .lineWhite .whiteLine .linksWhite p {
  font-size: 21px;
  color: white;
}
nav .lineBlack {
  min-height: 100px;
  width: 100%;
  border: 2px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav .lineBlack .linksBlack {
  width: 525px;
  margin-right: 25px;
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
nav .lineBlack .linksBlack a {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: black;
}
nav .lineBlack .linksBlack p {
  font-size: 21px;
  color: black;
}

@media only screen and (max-width: 880px) {
  nav .lineWhite {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .lineWhite .linksWhite {
    margin-right: 0;
    margin: auto;
    margin-top: 20px;
  }
  nav .lineBlack {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .lineBlack .linksBlack {
    margin-right: 0;
    margin: auto;
    margin-top: 20px;
  }
}
.logo {
  height: 63px;
  width: 140px;
  margin-left: 25px;
  margin-top: 15px;
}

.innerBinding {
  height: auto;
  width: 64%;
  margin: 0 auto;
}

.outerBinding {
  height: auto;
  width: 77%;
  margin: 0 auto;
}

.titleLine {
  height: 2px;
  width: 70%;
  background-color: black;
  bottom: 0;
  position: absolute;
}

.footer {
  min-height: 100px;
  width: 100%;
  background-color: #79addc;
}

.bottom {
  height: auto;
  width: 77%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.sideBottom {
  height: auto;
  width: 200px;
}
.sideBottom .socialMedia {
  height: 30px;
  width: 140px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.sideBottom .socialMedia .facebook {
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/facebook.png);
}
.sideBottom .socialMedia .instagram {
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/instagram.png);
}
.sideBottom .socialMedia .twitter {
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/twitter.png);
}

.bottomText {
  height: auto;
  width: 60%;
  text-align: center;
  margin-top: 40px;
}

.bottomText p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

@media only screen and (max-width: 950px) {
  .logo {
    margin: 0 auto;
    margin-top: 15px;
  }

  .footer {
    height: 250px;
  }

  .bottom {
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .socialMedia {
    margin: 0 auto;
  }

  .bottomText {
    width: 80%;
  }
}
.buttonSquare {
  height: 40px;
  width: 120px;
  background: #79addc;
  margin: 0 auto;
}
.buttonSquare a {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSquareContact {
  height: 40px;
  width: 175px;
  background: #79addc;
}
.buttonSquareContact a {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-decoration: none;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

.circleButton {
  height: 40px;
  width: 120px;
  background: #79addc;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.circleButton a {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-decoration: none;
}

.buttonLargeCircle {
  height: 60px;
  width: auto;
  background: #79addc;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
.buttonLargeCircle a {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-decoration: none;
}

.homeBG {
  height: 500px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/hero.jpg);
}
.homeBG .homeTitle {
  height: 245px;
  max-width: 675px;
  text-align: center;
  margin: 0 auto;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.homeBG .homeTitle h1 {
  font-size: 60px;
  font-family: proxNovaLight;
}
.homeBG .homeTitle p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.homeBookingLinks {
  min-height: 300px;
  max-width: 64%;
  margin: -50px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.homeBookingLinks .homeTour {
  height: 300px;
  width: 240px;
  text-align: center;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.homeBookingLinks .homeTour h1 {
  font-size: 45px;
  font-family: proxNovaLight;
  margin-top: 50px;
}
.homeBookingLinks .homeTour h2 {
  font-size: 25px;
  font-family: proxNovaLight;
  margin-top: -16px;
  margin-bottom: 62px;
}
.homeBookingLinks .img1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-01.jpg);
}
.homeBookingLinks .img2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-02.jpg);
}
.homeBookingLinks .img3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-03.jpg);
}

.homeContent {
  min-height: 900px;
  width: 100%;
  margin-top: 40px;
}
.homeContent .bookingForm {
  min-height: 730px;
  width: auto;
}
.homeContent .bookingForm h1 {
  font-size: 60px;
  font-family: proxNovaLight;
  margin-bottom: 30px;
}
.homeContent .bookingFormInfo {
  height: 140px;
  width: auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.homeContent .bookingFormInfo .bookingFormInfoRow {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.homeContent .bookingFormInfo .bookingFormInfoRow .textBoxSmall {
  height: auto;
  width: 42%;
  border: 1px #79addc solid;
  display: flex;
  justify-content: left;
  align-items: center;
}
.homeContent .bookingFormInfo .bookingFormInfoRow .textBoxSmall p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
}
.homeContent .bookingFormInfo .bookingFormInfoRow .textBoxLarge {
  height: auto;
  width: 56%;
  border: 1px #79addc solid;
  display: flex;
  justify-content: left;
  align-items: center;
}
.homeContent .bookingFormInfo .bookingFormInfoRow .textBoxLarge p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
}
.homeContent .bookingFormCheck {
  height: 140px;
  width: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homeContent .bookingFormCheck .bookingFormCheckRow {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.homeContent .bookingFormCheck .textBoxOuter {
  height: auto;
  width: 130px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.homeContent .bookingFormCheck .textBoxOuter p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  text-overflow: ellipsis;
}
.homeContent .bookingFormCheck .textBoxCheck {
  height: auto;
  width: 85%;
  border: 1px #79addc solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeContent .bookingFormCheck .textBoxCheck p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
}
.homeContent .bookingFormCheck .calender {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/calendar.svg);
}
.homeContent .bookingFormQuanity {
  min-height: 60px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.homeContent .bookingFormQuanity .bookingFormQuanityCol {
  height: auto;
  width: 136px;
}
.homeContent .bookingFormQuanity .textBoxOuterTwo {
  height: auto;
  width: auto;
  display: flex;
  justify-content: left;
  align-items: center;
}
.homeContent .bookingFormQuanity .textBoxOuterTwo p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
}
.homeContent .bookingFormQuanity .textBoxQuanity {
  height: auto;
  width: 75%;
  border: 1px #79addc solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeContent .bookingFormQuanity .textBoxQuanity p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
}
.homeContent .bookingFormQuanity .dropDown {
  height: 10px;
  width: 20px;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/down-arrow.svg);
}
.homeContent .bookingFormMessage {
  height: 200px;
  width: auto;
  border: 1px #79addc solid;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.homeContent .bookingFormMessage p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
}

@media only screen and (max-width: 918px) {
  .homeBG {
    height: 600px;
  }
  .homeBG .homeTitle {
    margin-bottom: 20px;
  }
  .homeBG .homeTitle .bookingFormQuanityCol {
    height: auto;
    width: 136px;
  }

  .homeContent {
    margin-bottom: 125px;
  }
  .homeContent .bookingFormQuanity {
    max-width: 275px;
    flex-wrap: wrap;
  }
  .homeContent .bookingFormQuanity .bookingFormQuanityCol {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1145px) {
  .homeBookingLinks {
    width: 240px;
    flex-direction: center;
    padding-left: 0;
    padding-right: 0;
  }
  .homeBookingLinks .homeTour {
    margin-bottom: 30px;
  }
}
@font-face {
  font-family: proxNovaLight;
  src: url(../assets/fonts/Proxima-Nova-Thin.ttf);
}
.aboutContent {
  min-height: 950px;
  width: 100%;
  display: flex;
}
.aboutContent .about {
  min-height: 220px;
  width: auto;
  margin-top: 90px;
}
.aboutContent .about .aboutTitle {
  height: 80px;
  width: 225px;
  position: relative;
}
.aboutContent .about .aboutTitle h1 {
  font-size: 60px;
  font-family: proxNovaLight;
  color: black;
}
.aboutContent .about .aboutWords {
  min-height: 100px;
  width: auto;
  margin-top: 40px;
}
.aboutContent .about .aboutWords p {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}
.aboutContent .clientQuotes {
  min-height: 450px;
  max-width: 750px;
  margin-top: 100px;
  position: relative;
}
.aboutContent .clientQuotes .clientQuotesTitle {
  height: 60px;
  width: 350px;
  position: relative;
}
.aboutContent .clientQuotes .clientQuotesTitle h2 {
  font-size: 45px;
  font-family: proxNovaLight;
  color: black;
}
.aboutContent .clientQuotes .clientQuotesContent {
  min-height: 350px;
  width: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutContent .clientQuotes .clientQuotesContent .clientQuotesBox {
  min-height: 150px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.aboutContent .clientQuotes .clientQuotesContent .clientQuotesBox .clientImage {
  height: 150px;
  width: 260px;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutContent .clientQuotes .clientQuotesContent .clientQuotesBox .one {
  background-image: url(../assets/images/about-client-01.jpg);
}
.aboutContent .clientQuotes .clientQuotesContent .clientQuotesBox .two {
  background-image: url(../assets/images/about-client-02.jpg);
}
.aboutContent .clientQuotes .clientQuotesContent .clientQuotesBox .client {
  min-height: 150px;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutContent .clientQuotes .clientQuotesContent .clientQuotesBox .client .clientWords {
  height: 120px;
  width: auto;
}
.aboutContent .clientQuotes .clientQuotesContent .clientQuotesBox .client .clientWords p {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}
.aboutContent .clientQuotes .clientQuotesContent .clientQuotesBox .client .clientName {
  min-height: 30px;
  width: auto;
  text-align: end;
}
.aboutContent .clientQuotes .clientQuotesContent .clientQuotesBox .client .clientName p {
  font-size: 25px;
  font-family: proxNovaLight;
  color: #79addc;
}

@media only screen and (max-width: 965px) {
  .clientQuotesContent {
    height: 700px;
    margin-bottom: 40px;
  }
  .clientQuotesContent .clientQuotesBox {
    height: 350px;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@font-face {
  font-family: proxNovaLight;
  src: url(../assets/fonts/Proxima-Nova-Thin.ttf);
}
.tourBG {
  height: 250px;
  width: auto;
}
.tourBG .tourImage {
  height: 200px;
  max-width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tours-header.jpg);
}
.tourBG .tourImage h1 {
  font-size: 60px;
  font-family: proxNovaLight;
  color: white;
  margin-top: 50px;
}

.toursContent {
  min-height: 1100px;
  width: auto;
}
.toursContent .tourGallery {
  min-height: 1000px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.toursContent .tourGallery .tourRow {
  min-height: 300px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.toursContent .tourGallery .tourRow .tour {
  height: 300px;
  width: 240px;
  text-align: center;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.toursContent .tourGallery .tourRow .tour h1 {
  font-size: 45px;
  font-family: proxNovaLight;
  margin-top: 50px;
}
.toursContent .tourGallery .tourRow .tour h2 {
  font-size: 25px;
  font-family: proxNovaLight;
  margin-top: -16px;
  margin-bottom: 62px;
}
.toursContent .tourGallery .tourRow .tour h3 {
  font-size: 40px;
  font-family: proxNovaLight;
  margin-top: 50px;
  margin-bottom: 21px;
}
.toursContent .tourGallery .tourRow .img1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-01.jpg);
}
.toursContent .tourGallery .tourRow .img2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-02.jpg);
}
.toursContent .tourGallery .tourRow .img3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-03.jpg);
}
.toursContent .tourGallery .tourRow .img4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-04.jpg);
}
.toursContent .tourGallery .tourRow .img5 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-05.jpg);
}
.toursContent .tourGallery .tourRow .img6 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-06.jpg);
}
.toursContent .tourGallery .tourRow .img7 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-07.jpg);
}
.toursContent .tourGallery .tourRow .img8 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-08.jpg);
}
.toursContent .tourGallery .tourRow .img9 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-09.jpg);
}

@media only screen and (max-width: 1145px) {
  .toursContent .tourGallery {
    width: 240px;
    flex-direction: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .toursContent .tourGallery .tourRow {
    width: 240px;
    flex-direction: center;
    flex-wrap: wrap;
  }
  .toursContent .tourGallery .tourRow .tour {
    margin-bottom: 50px;
  }
}
@font-face {
  font-family: proxNovaLight;
  src: url(../assets/fonts/Proxima-Nova-Thin.ttf);
}
.tourPackageBG {
  min-height: 800px;
  width: auto;
}
.tourPackageBG .tourPackageImages {
  min-height: 800px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}
.tourPackageBG .tourPackageImages .tourPackageBigImage {
  height: 410px;
  width: 100%;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tourPackageBG .tourPackageImages .tourPackageBigImage h1 {
  font-size: 75px;
  font-family: proxNovaLight;
  color: white;
  margin-left: 32px;
}
.tourPackageBG .tourPackageImages .tourPackageBigImage h2 {
  font-size: 25px;
  font-family: proxNovaLight;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 16px;
}
.tourPackageBG .tourPackageImages .ILmain {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-01.jpg);
}
.tourPackageBG .tourPackageImages .USmain {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-02.jpg);
}
.tourPackageBG .tourPackageImages .AUmain {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-03.jpg);
}
.tourPackageBG .tourPackageImages .NZmain {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-04.jpg);
}
.tourPackageBG .tourPackageImages .FRmain {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-05.jpg);
}
.tourPackageBG .tourPackageImages .EGmain {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-06.jpg);
}
.tourPackageBG .tourPackageImages .JPmain {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-07.jpg);
}
.tourPackageBG .tourPackageImages .CAmain {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-08.jpg);
}
.tourPackageBG .tourPackageImages .AEmain {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/tour-09.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet {
  min-height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .tourPackageSmallImage {
  height: 350px;
  width: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .IL1 {
  background-image: url(../assets/images/israel-tour-01.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .IL2 {
  background-image: url(../assets/images/israel-tour-02.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .IL3 {
  background-image: url(../assets/images/israel-tour-03.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .US1 {
  background-image: url(../assets/images/usa-tour-01.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .US2 {
  background-image: url(../assets/images/usa-tour-02.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .US3 {
  background-image: url(../assets/images/usa-tour-03.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .AU1 {
  background-image: url(../assets/images/aus-tour-01.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .AU2 {
  background-image: url(../assets/images/aus-tour-02.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .AU3 {
  background-image: url(../assets/images/aus-tour-03.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .NZ1 {
  background-image: url(../assets/images/nz-tour-01.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .NZ2 {
  background-image: url(../assets/images/nz-tour-02.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .NZ3 {
  background-image: url(../assets/images/nz-tour-03.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .FR1 {
  background-image: url(../assets/images/france-tour-01.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .FR2 {
  background-image: url(../assets/images/france-tour-02.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .FR3 {
  background-image: url(../assets/images/france-tour-03.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .EG1 {
  background-image: url(../assets/images/egypt-tour-01.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .EG2 {
  background-image: url(../assets/images/egypt-tour-02.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .EG3 {
  background-image: url(../assets/images/egypt-tour-03.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .JP1 {
  background-image: url(../assets/images/japan-tour-01.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .JP2 {
  background-image: url(../assets/images/japan-tour-02.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .JP3 {
  background-image: url(../assets/images/japan-tour-03.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .CA1 {
  background-image: url(../assets/images/canada-tour-01.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .CA2 {
  background-image: url(../assets/images/canada-tour-02.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .CA3 {
  background-image: url(../assets/images/canada-tour-03.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .AE1 {
  background-image: url(../assets/images/uae-tour-01.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .AE2 {
  background-image: url(../assets/images/uae-tour-02.jpg);
}
.tourPackageBG .tourPackageImages .tourPackageImageSet .AE3 {
  background-image: url(../assets/images/uae-tour-03.jpg);
}

.tourPackageContent {
  min-height: 995px;
  width: auto;
}
.tourPackageContent .tourPackageCalender {
  min-height: 890px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}
.tourPackageContent .tourPackageCalender .tourPackageThreeDays {
  min-height: 775px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}
.tourPackageContent .tourPackageCalender .tourPackageThreeDays .tourPackageDay {
  min-height: 220px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}
.tourPackageContent .tourPackageCalender .tourPackageThreeDays .tourPackageDay .tourPackageDayTitle {
  height: 80px;
  width: 235px;
  position: relative;
}
.tourPackageContent .tourPackageCalender .tourPackageThreeDays .tourPackageDay .tourPackageDayTitle h1 {
  font-size: 60px;
  font-family: proxNovaLight;
  color: black;
}
.tourPackageContent .tourPackageCalender .tourPackageThreeDays .tourPackageDay .tourPackageDayWords {
  min-height: 100px;
  width: auto;
}
.tourPackageContent .tourPackageCalender .tourPackageThreeDays .tourPackageDay .tourPackageDayWords p {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

@media only screen and (max-width: 1180px) {
  .tourPackageBG .tourPackageImages .tourPackageBigImage {
    margin-bottom: 50px;
  }
  .tourPackageBG .tourPackageImages .tourPackageImageSet {
    width: 300px;
    margin: 0 auto;
    flex-direction: center;
    flex-wrap: wrap;
  }
  .tourPackageBG .tourPackageImages .tourPackageImageSet .tourPackageSmallImage {
    margin-bottom: 50px;
  }
}
@font-face {
  font-family: proxNovaLight;
  src: url(../assets/fonts/Proxima-Nova-Thin.ttf);
}
.specialOfferContent {
  min-height: 900px;
  width: 100%;
  display: flex;
}
.specialOfferContent .specialOffers {
  min-height: 725px;
  width: auto;
  margin-top: 55px;
}
.specialOfferContent .specialOffers .specialOffersTitle {
  height: 60px;
  width: 400px;
  position: relative;
}
.specialOfferContent .specialOffers .specialOffersTitle h2 {
  font-size: 45px;
  font-family: proxNovaLight;
  color: black;
}
.specialOfferContent .specialOffers .offersContent {
  min-height: 625px;
  max-width: 575px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.specialOfferContent .specialOffers .offersContent .offersContentBox {
  min-height: 275px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.specialOfferContent .specialOffers .offersContent .offersContentBox .offerImage {
  min-height: 275px;
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.specialOfferContent .specialOffers .offersContent .offersContentBox .one {
  background-image: url(../assets/images/special-offer-01.jpg);
}
.specialOfferContent .specialOffers .offersContent .offersContentBox .two {
  background-image: url(../assets/images/special-offer-02.jpg);
}
.specialOfferContent .specialOffers .offersContent .offersContentBox .offer {
  height: 275px;
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.specialOfferContent .specialOffers .offersContent .offersContentBox .offer .offerTitle {
  height: 50px;
  width: auto;
  position: relative;
}
.specialOfferContent .specialOffers .offersContent .offersContentBox .offer .offerTitle h3 {
  font-size: 35px;
  font-family: proxNovaLight;
  color: black;
}
.specialOfferContent .specialOffers .offersContent .offersContentBox .offer .offerCost {
  height: 30px;
  width: auto;
  text-align: end;
}
.specialOfferContent .specialOffers .offersContent .offersContentBox .offer .offerCost p {
  font-size: 25px;
  font-family: proxNovaLight;
  color: #ff7d38;
}
.specialOfferContent .specialOffers .offersContent .offersContentBox .offer .offerWords {
  height: auto;
  width: 300px;
}
.specialOfferContent .specialOffers .offersContent .offersContentBox .offer .offerWords p {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}
.specialOfferContent .specialOffers .offersContent .offersContentBox .offer .offerCircle {
  height: 40px;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 730px) {
  .offersContent {
    height: 1250px;
    margin-bottom: 70px;
  }
  .offersContent .offersContentBox {
    flex-wrap: wrap;
  }
  .offersContent .offersContentBox .offerImage {
    margin-bottom: 50px;
  }
}
.blogContent {
  min-height: 1100px;
  width: 100%;
  display: flex;
}
.blogContent .blog {
  min-height: 950px;
  width: auto;
  margin-top: 55px;
}
.blogContent .blog .blogTitle {
  height: 60px;
  width: 200px;
  position: relative;
}
.blogContent .blog .blogTitle h2 {
  font-size: 45px;
  font-family: proxNovaLight;
  color: black;
}
.blogContent .blog .blogGallery {
  min-height: 860px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blogContent .blog .blogGallery .blogBox {
  min-height: 380px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.blogContent .blog .blogGallery .blogBox .dateBox {
  height: 60px;
  width: 60px;
  background-color: #79addc;
}
.blogContent .blog .blogGallery .blogBox .dateBox .dateWords {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
.blogContent .blog .blogGallery .blogBox .dateBox .dateWords h3 {
  font-size: 25px;
  margin-top: 3px;
  margin-bottom: 0px;
}
.blogContent .blog .blogGallery .blogBox .dateBox .dateWords p {
  font-size: 19px;
}
.blogContent .blog .blogGallery .blogBox .blogBoxContent {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blogContent .blog .blogGallery .blogBox .blogBoxContent .blogBoxImage {
  height: 250px;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/blog.jpg);
}
.blogContent .blog .blogGallery .blogBox .blogBoxContent .blogBoxWords {
  min-height: 100px;
  max-width: 500px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blogContent .blog .blogGallery .blogBox .blogBoxContent .blogBoxWords h3 {
  color: black;
  font-size: 19px;
}
.blogContent .blog .blogGallery .blogBox .blogBoxContent .blogBoxWords p {
  color: #79addc;
  font-size: 19px;
}

@media only screen and (max-width: 825px) {
  .blogBox {
    height: 500px;
    margin-bottom: 100px;
    flex-wrap: wrap;
  }
  .blogBox .dateBox {
    justify-content: center;
    margin-bottom: 10px;
  }
}
.contactContent {
  min-height: 900px;
  width: 100%;
  display: flex;
}
.contactContent .contatcts {
  min-height: 750px;
  width: auto;
  margin-top: 55px;
}
.contactContent .contatcts .contactsTitle {
  height: 60px;
  width: 300px;
  position: relative;
}
.contactContent .contatcts .contactsTitle h2 {
  font-size: 45px;
  font-family: proxNovaLight;
  color: black;
}
.contactContent .contatcts .contactGallery {
  min-height: 650px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactContent .contatcts .contactGallery .contactRowBig {
  min-height: 440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contactContent .contatcts .contactGallery .contactRowBig .contactMap {
  height: 440px;
  width: 412px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/images/c9630e6a0d4eea8424c9e77634f917b5.jpg);
}
.contactContent .contatcts .contactGallery .contactRowBig .contactForm {
  height: auto;
  width: 590px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactContent .contatcts .contactGallery .contactRowBig .contactForm .contactFromRowSmall {
  height: 60px;
  width: auto;
  background-color: #f5f5f5;
}
.contactContent .contatcts .contactGallery .contactRowBig .contactForm .contactFromRowSmall p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  margin-top: 15px;
  margin-left: 20px;
}
.contactContent .contatcts .contactGallery .contactRowBig .contactForm .contactFromRowLarge {
  height: 200px;
  width: auto;
  background-color: #f5f5f5;
}
.contactContent .contatcts .contactGallery .contactRowBig .contactForm .contactFromRowLarge p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  margin-top: 15px;
  margin-left: 20px;
}
.contactContent .contatcts .contactGallery .contactRowSmall {
  min-height: 160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contactContent .contatcts .contactGallery .contactRowSmall .contactWords {
  min-height: 160px;
  width: 412px;
}
.contactContent .contatcts .contactGallery .contactRowSmall .contactWords p {
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}
.contactContent .contatcts .contactGallery .contactRowSmall .contactButton {
  height: auto;
  width: 590px;
}

@media only screen and (max-width: 1315px) {
  .contactRowBig {
    height: 950px;
    flex-wrap: wrap;
  }
  .contactRowBig .contactMap {
    margin: 0 auto;
  }
  .contactRowBig .contactForm {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .contactRowSmall {
    min-height: 300px;
    max-width: 590px;
    margin: 0 auto;
  }
  .contactRowSmall .contactWords {
    width: 590px;
    margin-bottom: 50px;
  }
}