$titleFont80: 75px;
$titleFont60: 60px;
$titleFont45: 45px;
$titleFont35: 35px;
$titleFont25: 25px;
$mainFont32: 32px;
$mainFont21: 21px;
$mainFont19: 19px;
$mainType: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$overlayBlack: rgb(0, 0, 0, 0.4);
$white: white;
$black: black;
$blue: #79addc;
